.Button {
  cursor: pointer;
  background-color: transparent;
  align-items: center;
  display: flex;
  color: var(--primary-color);
}

.clear {
  padding: 0;
  border: none;
  outline: none;
}

.outline {
  border: none;
  outline: solid 0.5px;
  padding: 5px;
}
