.navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  padding: 20px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.links {
  display: flex;
  gap: 20px;
}
